
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

#form{
  background-color: rgb(253, 239, 239);

text-align: center;
}

form input:last-child {
  display: inline-block;
  color: rgb(27, 27, 26);
  margin-top: 3%;

}
div{
  background-color: beige;
}
h1{
  font-family: 'Style Script', cursive;
  margin-top:2%;
  padding-left: 3%;
}
p{
  margin-top: 2%;
  padding-left: 5%;
  font-family: 'Style Script', cursive;
}